/*Reglas
Selectores
Declaraciones
Propiedades
Valores*/

/*Selector de etiqueta*/
/*Se usa el nombre de la etiqueta para el selector*/
/*body {
    background: red;
}*/

/*Selector Descendente*/
/*body header div nav ol li a*/
/*body header div nav ol li a {
    background: red;
}*/

/*Selector de Clase*/
/*Sepuede multiplicar y hacer una serie de estilos identicos para muchas etiquetas: Se utiliza " . " para hacer referencia de un selector de clase .ejemplo*/
/*.estiloCabecera {
    background: red;
}*/


/*Selector de id*/
/*Los selectores de este tipo son unicos, ya que no se repiten: Se utiliza " # " para hacer referencia de un selector de id #ejemplo*/
/*#estiloFooter {
    background: red;
}*/

body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: .5px;
    text-transform: capitalize;
    color: white;
}

h1 strong{
    color: #026fff
}

.principal{
    height: 300px;
    background-image: url('../img/hero.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #1b2127;
}

.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}

.header{
    background-color: #1b2127;
    color: white;

}

.header a{
    color: white;
    text-decoration: none;
}